.card-container{
  height:auto;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.card{
  padding:10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  flex-basis: 30%;
}
.card-media{max-width: 100%;width: 100%;}
.card-body{
  transition:0.5s;
  cursor:pointer;
}

.card-number {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    color: #ffa710
  }
  .btn-group{text-align: center;margin-bottom: 15px;}
  button{margin-right: 5px;background: #fff;padding: 8px 15px;border: 1px solid ccc;border-radius: 4px;}
  button:hover{border-bottom: 1px solid purple;}